@import '../../variables.scss';

.post-card{
  @include dropshadow;
  margin: 10px;

  img{
    width: 90%;
    margin: 10px;
  }

  p{
    height: 25px;
    overflow-y: hidden;
    text-align: left;
    margin: auto 0px;
  }
}
