@import '../../variables.scss';

button{
  font-family: 'Questrial', sans-serif;
  font-size: 1.3em;
  border: none;
  background: none;
  color: $col-primary;
  cursor: pointer;
  padding: 8px;
  transition: all 0.3s;
  transform: translate(0px, 0px);
  text-shadow: 0px 0px 0px $col-secondary;
}

button:hover{
  transform: translate(-2px, -7px);
  text-shadow: 2px 7px 3px $col-secondary;
}

button:focus{
  outline: none;
}
