@import '../../variables.scss';

div{
  margin: 30px;
}

.state-sel{
  @include bullet;
  cursor: pointer;
  padding: 12px;
  transition: all 0.5s;

  &.state-choosen{
    font-size: 1.5em;
    font-weight: bold;
    background-color: $col-primary;
  }
}
