<section>
  <h1>Session</h1>
  <p>Login using your credentials. If you don't have an account yet, you can sign up for one. Its INSTANT and its FREE. Have fun!</p>
  <div class="error">
    {{error}}
  </div>
  <div class="forms-wrapper">
    <form class="auth-form" #loginForm="ngForm">
      <h3>Login</h3>
      <label for="username">Username:</label>
      <input type="text" name="username" [(ngModel)]="loginUsername" value="" placeholder="Your username">
      <label for="password">Password:</label>
      <input type="password" name="password" [(ngModel)]="loginPassword" value="" placeholder="Your password">
      <app-button [label]="'login'" (click)='login(loginForm)'></app-button>
    </form>

    <form class="auth-form" #signupForm="ngForm">
      <h3>Signup</h3>
      <app-photo-uploader (onPhotoChange)="photoChange($event)"></app-photo-uploader>
      <label for="username">Username:</label>
      <input type="text" name="username" [(ngModel)]="signupUsername" value="" placeholder="Your username name">
      <label for="username">Full name:</label>
      <input type="text" name="name" [(ngModel)]="signupName" value="" placeholder="Your full name">
      <label for="password">Password:</label>
      <input type="password" name="password" [(ngModel)]="signupPassword" value="" placeholder="Your password">
      <label for="email">Email:</label>
      <input type="text" name="email" [(ngModel)]="signupEmail" value="" placeholder="Your email">
      <app-button [label]="'signup'" (click)='signup(signupForm)'></app-button>
    </form>
  </div>
</section>
