@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Monoton);
@import './variables.scss';

body{
  font-family: 'Questrial', sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: $col-bg;
}

h1, h2, h3, h4, h5, h6{
  @include header;
}

p{
  padding: 15px;
  text-align: justify;
}

label, input, textarea{
  display: block;
  width: calc(100% - 30px);
  margin: auto;
  margin-top: 10px;
}

input[type="text"], input[type="password"], textarea{
  padding: 3px;
  border: 1px solid $col-secondary;
  border-radius: 3px;
}

.nav{
  cursor: pointer; 
}

.error{
  text-align: center;
  padding: 15px;
  color: $col-detail;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: $col-detail;
  border: 0px none $col-detail;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: $col-detail;
}
::-webkit-scrollbar-thumb:active {
  background: $col-detail;
}
::-webkit-scrollbar-track {
  background: $col-bg;
  border: 0px none $col-detail;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: $col-bg;
}
::-webkit-scrollbar-track:active {
  background: $col-bg;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
