@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Monoton);
@import './variables.scss';

body{
  font-family: 'Questrial', sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: $col-bg;
}

h1, h2, h3, h4, h5, h6{
  @include header;
}

p{
  padding: 15px;
  text-align: justify;
}

label, input{
  display: block;
  width: 100%;
  margin-top: 10px;
}

input[type="text"], input[type="password"]{
  padding: 3px;
  border: 1px solid $col-secondary;
  border-radius: 5px;
}

.user-bullet{
  @include dropshadow;
  @include flexcontainer(center);
  flex-direction: column;
  width: 100px;
  height: 100px;
  background-color: $col-detail;
  color: $col-bg;
  border-radius: 50%;
  position: fixed;
  right: 30px;
  bottom: 15px;
  padding: 5px;
  cursor: pointer;

  $hiddenper : 0.05;

  span{
    transition: transform 0.5s;
    position: absolute;
  }

  .username{
    transform-origin: 50% 0%;
    transform: scaleY(1);
  }

  .logout{
    transform-origin: 50% 100%;
    transform: scaleY($hiddenper);
  }

  &:hover{
    .username{
      transform: scaleY($hiddenper);
    }

    .logout{
      transform: scaleY(1);
    }
  }
}
