$col-primary:     #333;
$col-secondary:   #888;
$col-terciary:    #CCC;
$col-bg:          #F9F9F9;
$col-detail:      #558cba;

$mea-pagewidth: 960px;

@mixin header(){
  color: $col-detail;
  margin: 15px;
  font-family: 'Questrial', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: normal;
  text-shadow: 1px 1px 0px $col-secondary;
}

@mixin titles{
  text-transform: none;
  color: $col-primary;
  font-family: 'Monoton', sans-serif;
  margin: auto;
  font-size: 2.5em;
  font-weight: normal;
  line-height: 80px;
  text-shadow: 1px 1px 0px $col-detail;
}

@mixin dropshadow {
  box-shadow: 0px 5px 5px 0px $col-secondary;
  margin-bottom: 10px;
  border: 1px solid $col-terciary;
}

@mixin fullwidthcontainer(){
  padding: 0px 20px;
}

@mixin responsivecontainer(){
  margin: 0 auto;
  max-width: 100%;
  width: $mea-pagewidth;
}

@mixin flexcontainer($justify){
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@mixin fixedwidthchild($width) {
  width: $width;
}

@mixin growingchild($grow) {
  flex-grow: $grow;
}
