$col-primary:     #333;
$col-secondary:   #888;
$col-terciary:    #CCC;
$col-bg:          #F9F9F9;
$col-detail:      #851479;

$mea-pagewidth: 1280px;

@mixin header(){
  color: $col-detail;
  margin: 15px;
  font-family: 'Questrial', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: normal;
  text-shadow: 1px 1px 0px $col-secondary;
}

@mixin titles{
  text-transform: none;
  color: $col-primary;
  font-family: 'Monoton', sans-serif;
  margin: auto;
  font-size: 2.5em;
  font-weight: normal;
  line-height: 80px;
  text-shadow: 1px 1px 0px $col-detail;
}

@mixin dropshadow {
  box-shadow: 0px 5px 5px 0px $col-secondary;
  margin-bottom: 10px;
  border: 1px solid $col-terciary;
}

@mixin littlecard{
  @include flexcontainer(center);
  flex-direction: column;
  width: calc( 100% - 5px);
  height:140px;


  img{
    transition: transform 0.5s;
    cursor: pointer;
    max-width: 90%;
    margin: 0 auto;
  }

  img:hover{
    transform: scale(1.2);
  }
  h6{
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 80%;
  }
}

@mixin innershadow {
  box-shadow: inset 0px 2px 10px 2px $col-secondary;
  margin-bottom: 10px;
  border: 1px solid $col-terciary;
}

@mixin fullwidthcontainer(){
  padding: 0px 20px;
}

@mixin responsivecontainer(){
  margin: 0 auto;
  max-width: 100%;
  width: $mea-pagewidth;
}

@mixin flexcontainer($justify){
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@mixin fixedwidthchild($width) {
  width: $width;
}

@mixin growingchild($grow) {
  flex-grow: $grow;
}
