<div class="occluder" (click)="hidePostModal()"></div>
<div class="wrapper">
  <div class="modal">
    <img src="{{ fileURI }}" alt="placehold">
    <input
      *ngIf="!fileName"
      type="file"
      name="photo"
      ng2FileSelect
      [uploader]="uploader"
      (change)="uploadPhoto()">
    <button
      *ngIf="fileName"
      type="button"
      (click)="resetPhoto()">
      Reset photo
    </button>
    <textarea name="name" rows="8" [(ngModel)]="content"></textarea>
    <app-button [label]="'Send'" (click)="createPost()"></app-button>
  </div>
</div>
