@import '../../variables.scss';

.occluder{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $col-primary;
  opacity: 0.5;
  z-index: 100;
}

.wrapper{
  @include flexcontainer(center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 101;

  .modal{
    @include dropshadow;
    background-color: $col-bg;
    width: 400px;
    padding: 30px;
    pointer-events: all;

    .photoUL{
      input{
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }

      label{
        @include bullet;
        box-sizing: border-box;
        padding: 12px;
        cursor: pointer;
        width: 100%;
      }
    }

    .resetButton{
      @include bullet;
      box-sizing: border-box;
      padding: 12px;
      cursor: pointer;
      width: 100%;
      font-family: 'Questrial', sans-serif;
      text-align: left;
      border: none;
      font-size: 1em;
    }

    img{
      width: 100% ;
    }

    textarea{
      box-sizing: border-box;
      width: 100%;
      margin: 10px 0 10px 0;
    }
  }
}
