@import '../../variables.scss';

.brand-card{
  @include flexcontainer(center);
  flex-direction: column;
  width: calc( 100% - 5px);
  height:140px;
  .img{
    max-width: 90%;
    margin: 0 auto;
  }
  h4{
    text-align: center;
  }
}
