<div class='wrapper'>
  <h3>Select a brand</h3>
  <input type="text" name="brandName" value="" (ngModelChange)="change($event)" [(ngModel)]="brandName">
  <div class="brand-container">
    <app-brand-card *ngFor='let brand of visibleBrands' (click)="select(brand)" [brand]='brand'></app-brand-card>
    <app-brand-card (click)="showBrandModal()" [brand]='{name:"New Brand"}'></app-brand-card>
  </div>
</div>
<app-new-brand-modal
  *ngIf="brandModal"
  (onClickOutside)="hideBrandModal()"
  (onFinish)="newBrand($event)">
</app-new-brand-modal>
