<div class="occluder" (click)="hideProductModal()"></div>
<div class="wrapper">
  <div class="modal">

    <div class="form">
      <label for="name">Name</label>
      <input type="text" name="name" [(ngModel)]="name">
      <label for="ref">Reference code</label>
      <input type="text" name="ref"  [(ngModel)]="ref">
      <label for="tags">Tags (Separated by commas)</label>
      <textarea name="tags"  [(ngModel)]="tags" rows="5" cols="80" (keyup)="updateTags()">

      </textarea>
      <app-button [label]="'create'" (click)="createProduct()"></app-button>
    </div>

    <div class="tags">
      <h5>Tags</h5>
      <div class="tagArray">
        <span class='bullet' *ngFor='let tag of tagArray'>{{tag}}</span>
      </div>
    </div>

  </div>
</div>
