<div class="occluder" (click)="hideProductModal()"></div>
<div class="wrapper">
  <div class="modal">

    <div class="form">
      <label for="shortname">Short name</label>
      <input type="text" name="shortname" [(ngModel)]="shortName" (change)="wikiRef()">
      <label for="longname">Long name</label>
      <input type="text" name="longname"  [(ngModel)]="longName">
      <label for="country">Country</label>
      <input type="text" name="country"  [(ngModel)]="country">
      <app-button [label]="'create'" (click)="createBrand()"></app-button>
    </div>

    <div class="wiki-suggest">
      <h6 *ngFor="let sugest of wikiSugestion, let i=index" (click)="pickSuggestion(i)">{{sugest}}</h6>
    </div>

    <div class="wiki-search">
      <h5>{{wikiTitle}}</h5>
      <p>{{wikiDesc}}</p>
    </div>

  </div>
</div>
