@import '../../variables.scss';

.occluder{
  position: absolute;
  top: 435px;
  left: 0;
  width: 100%;
  height: 460px;
  background-color: $col-primary;
  opacity: 0.5;
  z-index: 100;
}

.wrapper{
  @include flexcontainer(center);
  position: absolute;
  top: 435px;
  left: 0;
  width: 100%;
  height: 460px;
  pointer-events: none;
  z-index: 101;

  .modal{
    @include dropshadow;
    @include flexcontainer(space-between);
    background-color: $col-bg;
    width: 600px;
    padding: 30px;
    pointer-events: all;

    div{
      width: 40%;
    }

    .wiki-suggest{
      width: 20%;
      overflow: hidden;;

      h6{
        cursor: pointer;
        line-height: 15px;
        margin: 2px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .wiki-search{
      p{
        height: 100px;
        overflow: hidden;
      }
    }
  }
}
