<section class="wrapper">
  <div class="heading">
    <div class="wish">
      <h1><strong>{{product?.name}}</strong>  {{edition?.name}}</h1>
      <h2>by {{brand?.name}}</h2>
    </div>
    <div class="owner">
      <h2 *ngIf="user && session.user && user._id !== session.user._id" (click)="goToUser(user._id)">A wish of <strong>@{{user?.username}}</strong></h2>
      <h2 *ngIf="user && session.user && user._id === session.user._id" (click)="goToUser(user._id)">A wish of you</h2>
    </div>
  </div>
  <div class="photos">
    <div *ngFor='let post of posts' class="nav" (click)="goToPost(post._id)">
      <span>"{{post.comment}}"</span>
      <img src="{{post.photoURI}}" alt="placehold">
    </div>
    <div *ngIf="posts.length === 0">
      <span>There is no post of this product yet</span>
      <img src="images/default" alt="placehold">
    </div>
  </div>
  <div class="info">
    <div class="dates">
      <p>This wish was created on {{wish?.created_at |  date:'dd/MM/yyyy'}} at {{wish?.created_at |  date:'hh:mm'}}</p>
      <p *ngIf="wish?.haveDate">This wish came true on {{wish?.haveDate |  date:'dd/MM/yyyy'}} at {{wish?.haveDate |  date:'hh:mm'}}</p>
      <p *ngIf="wish?.hadDate">This wish had gone on {{wish?.hadDate |  date:'dd/MM/yyyy'}} at {{wish?.hadDate |  date:'hh:mm'}}</p>
    </div>
    <div class="foreign" *ngIf="user && session.user && user._id !== session.user._id">
      <span class="state clickable" *ngIf="wish.state === 1 && !wish.birthdayLock" (click)="giftThis()">
        <span class="default">Nobody is going gift this</span>
        <span class="hidden">Actually i'm going to</span>
      </span>
      <span class="state clickable" *ngIf="wish.state === 1 && wish.birthdayLock && wish.birthdayGifter == session.user._id" (click)="ungiftThis()">
        <span class="default">You are going to gift this</span>
        <span class="hidden">Well, i regret</span>
      </span>
      <span class="state not-clickable"*ngIf="wish.state === 1 && wish.birthdayLock && wish.birthdayGifter !== session.user._id">Somebody is going to gift this</span>
      <span class="state" *ngIf="wish && wish.state === 1">{{user.name}} want this!</span>
      <span class="state" *ngIf="wish && wish.state === 2">{{user.name}} have this</span>
      <span class="state" *ngIf="wish && wish.state === 3">{{user.name}} once had this</span>
    </div>
    <div class="user" *ngIf="user && session.user && user._id === session.user._id">
      <app-button (click)="showPostModal()" [label]="'Make a post about this'"></app-button>
      <app-state-selector [state]="wish.state" (onStateChange)="stateChange($event)"></app-state-selector>
    </div>
  </div>
  <div class="google-search">
    <app-google-search *ngIf="product" [product]="product"></app-google-search>
  </div>
</section>
<app-new-post-modal
  *ngIf='postModal'
  (onSavePost)="newPost($event)"
  (onClickOutside)="hidePostModal()"
  [wish]="wish"></app-new-post-modal>
