@import '../../variables.scss';

.wrapper{
  height: 400px; 
  border-radius: 2px;
  width: 80%;
  margin: 15px auto;
  padding: 15px;

  .edition-container{
    @include flexcontainer(flex-start);
    flex-wrap: wrap;
    padding: 15px;

    app-edition-card{
      width: calc((100% - 30px) / 5);
    }
  }
}
