@import '../../variables.scss';

header {
  @include fullwidthcontainer;
  @include flexcontainer(center);
  @include dropshadow;
  margin-bottom: 70px;

  background-color: $col-bg;
  border-bottom: 2px solid $col-detail;

}

header .wrapper{
  @include responsivecontainer;
  display: flex;
}

header .wrapper h1.title{
  @include titles;
}

header .wrapper .menu{
  @include growingchild(1);
  @include flexcontainer(flex-end) ;
  text-align: right;
}
