<div class='wrapper'>
  <h3>Select a product</h3>
  <input type="text" name="productName" value="" (ngModelChange)="change($event)" [(ngModel)]="productName">
  <div class="product-container">
    <app-product-card *ngFor='let product of visibleProduct' (click)="select(product)" [product]='product'></app-product-card>
    <app-product-card (click)="showProductModal()" [product]='{name:"New Product"}'></app-product-card>
  </div>
</div>
<app-new-product-modal
  *ngIf="productModal"
  (onClickOutside)="hideProductModal()"
  (onFinish)="newProduct($event)"
  [brandId]="brandId">
</app-new-product-modal>
